@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: red;
}


/* nice smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* basic focus style */
:focus-visible {
  outline: 2px solid #f59e0b;
  outline-offset: 2px;
}
